<!DOCTYPE html>
<html>
  <head>
    <title>MovieEmpire</title>

  <meta charset = "UTF-8" />
  </head>


  <div class="boxing">
  <body>
    <ul>
        <li><a href="/movies">Movie</a></li>
        <li><a href="/sales">Sales</a></li>
        <li style="float:right"><a class="active" href="/Admin">Log In</a></li>
        <li style="float:right"><a class="active" href="/logout">Log Out</a></li>
    </ul>
  <h1>MovieEmpire</h1>

<table id="customers">
  <thead>
    <tr>
      <th>Image url</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr>
       <td><div class="image">
       <%= link_to (image_tag movie.image_url, :style => "height:100px"), movie %>
       </div>
       </td>
       <td>
          <div class="title">
            <%= link_to movie.title, movie %>
          </div>
          <div class="description">
            <%=h movie.description %>
          </div>
          <div class="genre">
             <%= movie.genre %>
          </div>
          <div class="price">
               <%= number_to_currency(movie.price, :unit => "&pound;") %>
          </div>
         <div class="links">
              <% if session[:login] == 1 %>
              <%= link_to 'Edit', edit_movie_path(movie) %> |
              <%= link_to 'Destroy', movie, :confirm => 'Are you sure?', :method => :delete %>
              <% else %>
              <a href="/cart/<%= movie.id %>">Add to Cart</a><br><br>
              <% end %>
              </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
   
    <% if session[:login] == 1 %>
    <p><%= link_to 'New item', new_movie_path %></p>
    <% end %>


<p id="notice"><%= notice %></p>
    

<div id='footer'>
      <h6 class="footertext">&copy; MovieEmpire &trade; 2017</h6>
    </div>
  </body>
</div>

</html>
